{#
/**
 * @file
 * 404 page which will be rendered when no other pages are available.
 * in here the regions are structured.
 */
#}

<div id="page-wrapper">

  {# Basic page header #}
  <div class="header">
    {{ page.header }}
  </div>

  {# MAIN PAGE STUFF #}
  <div class="not-found-page">
    <h1>Sorry, this page seems not to exist...</h1>
  </div>

</div>
